{% extends 'base.html' %}

{% block title %}
NI analisys photo
{% endblock %}

{% block link %}
<link rel='stylesheet' type='text/css' media='screen' href='{{url_for('static', filename='css/ai_photo.css')}}'>
{% endblock %}

{% block page %}
NI analisys photo
{% endblock %}

{% block content %}
<div id="content">
    <div class="content_video">
        <img width="400" height="300" src="{{url_for('ai_photo_feed')}}">
        <form class="analisys_video_form" enctype="multipart/form-data" method="post" action='/analisys/ai_photo'>
            <div id="control_panel">
                <input type="file" id="file" name="photo" accept="image/*,image/jpg">
                <input type="submit" value="Submit">
            </div>
        </form> 
    </div>
    <div id="content_text">
        <img src='{{url_for('static', filename='other/load.gif')}}'>
        <p>
            Image processing is any form of information processing for which input is represented by images, such as photographs or video frames. 
            Image processing can be performed both to obtain an image at the output (for example, preparation for printing, for telecasting, etc.) and to obtain other information (for example, text recognition, counting the number and type of cells in the microscope field, etc. e.). 
            In addition to static 2D images, you also need to process images that change over time, such as video.
            Most methods of processing one-dimensional signals (for example, the median filter) are applicable to two-dimensional signals, which are images. 
        </p>
        <form method="post" action='/analisys/ai_photo'>
            <p><textarea rows="9" cols="30" name="text">{{ text }}</textarea></p>
        </form>
    </div>
    <div class="content_video">
        <img width="400" height="300" src="{{url_for('ai_photo_feed_after')}}">
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer_el"><a href='{{ url_for('analisys')}}'>Analisys</a></div>
<div class="footer_el">|</div>
<div class="footer_el"><a href='{{ url_for('info')}}'>Info</a></div>
{% endblock %}
